body {
  background-color: black;
  color: white;
  margin: 10px 300px 10px 300px;
  text-align: justify;
  text-justify: inter-word;
  font-family: Cormorant SC;
  font-size: 22px;
  font-weight:normal;
  line-height: 1.5;
  font-style:normal;
}
